<?xml version="1.0"?>
<launch>

  <arg name="map_file_name" />
  <arg name="lat_origin" default="49.81452" />
  <arg name="lon_origin" default="8.4171937" />

  <param name="/lanelet2_interface_ros/map_file_name" value="$(arg map_file_name)" />
  <param name="/lanelet2_interface_ros/map_frame_id" value="map" />
  <param name="/lanelet2_interface_ros/actual_utm_with_no_offset_frame_id" value="acutal_utm_no_offset" />
  <param name="/lanelet2_interface_ros/lat_origin" value="$(arg lat_origin)" />
  <param name="/lanelet2_interface_ros/lon_origin" value="$(arg lon_origin)" />

  <node pkg="lanelet2_interface_ros" type="map_frame_to_utm_tf_publisher.py" name="map_frame_to_utm_tf_publisher" output="screen" />

</launch>

